# Required
MISTRAL_API_KEY=grab-it-from-mistral_ai
SECRET_KEY_BASE=generate-mix-phx-gen-secret

# Optional — GitHub personal access token for issue search
GITHUB_TOKEN=

# Optional — Telegram bot integration
TELEGRAM_BOT_TOKEN=grab-it-from-@botFather
TELEGRAM_SECRET_TOKEN=generate-it-with-openssl
TELEGRAM_WEBHOOK_URL= my-domain

# Phoenix
PORT=4000
PHX_HOST=localhost
